// html,
 body {
     background-color: #fff;
     color: #151617;
     font-family: 'Nunito', sans-serif;
     height: 100vh;
     padding: 0;
     margin: 0;
     
    main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 2rem;

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items:flex-start;
            width: calc((100% / 5) - 50px);
            border: 2px solid grey;
            padding-left: 0.5rem;
            background-color:beige;

            h2{
                font-size: 12px;
                font-weight: bold;
            }

            p{
                font-size: 12px;
                font-weight: 600;
                color: gray;
            }
            }
    }

    

     
 }

 


